<h3>GameDrawing</h3>
<GameField 
    dimension=@dim 
    cellLen="20" 
    game=@game
    onFieldClick=@onClick
    />
@if(winner != null)
{
    <div>@winner won!!!</div>
}

@code {
    public int dim = 20;
    public FiveInRowGame game = new();

    Mover? winner = null;

    protected override void OnInitialized()
    {
        game.AddMove(0, 0);
        game.AddMove(-1, 1);
    }
    private void onClick(int x, int y)
    {
        if (winner == null)
        {
            bool correct = game.AddMove(x, y);
            if (correct)
            {
                winner = game.WhoWon();
                StateHasChanged();
            }
        }

    }

}
