@page "/game"
@page "/"
@rendermode InteractiveWebAssembly
<div style="display: flex; flex-direction: column; align-items: center;">
<h3>Five In a Row</h3>
<GameField 
    dimension=@dim 
    cellLen="20" 
    game=@game
    onFieldClick=@onClick
    />
@if(game.Winner != null)
{
    <div>@game.Winner won!!! <button @onclick=@(() => game = new())>Refresh</button></div>
}
</div>

@code {
    public int dim = 30;
    public FiveInRowGame game = new();


    private string cursor()
    {
        if (game.NextMover == Mover.X)
        {
            return @"url('/X.png')";
        }
        else
        {
            return @"url('/O.png')";
        }
    }

    private void onClick(int x, int y)
    {
        if (game.Winner == null)
        {
            bool correct = game.AddMove(x, y);
            if (correct)
            {
                var winner = 
                game.WhoWon();
                StateHasChanged();
            }
        }

    }

}
